{
  "branches": [ "main" ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "parserOpts": "./.ci/parser.js",
        "whatBump": "./.ci/whatBump.js"
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "semantic-release-vsce",
      {
        "packageVsix": true
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": "*.vsix"
      }
    ]
  ]
}
